{% extends "base.html" %}

{% comment %} Load Thumbnail as per docs {% endcomment %}
{% load thumbnail %}


{% block title %}Homepage{% endblock title%}

{% block body %}

    <a href="{% url "feed:post" %}" style="display: inline-block">Add a new Post</a>
    <hr>

    {% comment %} <h1>{{ posts }}</h1> {% endcomment %}
    {% comment %} We can create for loop to handle posts {% endcomment %}
    {% for post in posts  %}
        
    {% comment %} Bad Example of adding links {% endcomment %}
    {% comment %} <a href="/detail/{{ post.id }}">Link to detail</a> {% endcomment %}
    
    {% comment %} Good Example of adding links using namespace {% endcomment %}
    {% comment %} namespace:nameoftheview {% endcomment %}
    <a href="{% url "feed:detail" post.id %}" style="display: inline-block">
        {{ post.text }}
        <br>
        {% comment %} Adding thumbnails via sorl-thumbnail {% endcomment %}
            {% thumbnail post.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}        
        </a>
        
        <hr>

    {% endfor %}

{% endblock body %}
    
