{% extends "base.html" %}

{% comment %} Load Thumbnail as per docs {% endcomment %}
{% load thumbnail %}


{% block title %}Homepage{% endblock title%}

{% block body %}

        <div class="row py-5">

            {% for post in posts  %}

            <div class="col-sm-6 col-md-3">
                
                <div class="card mb-5">
                    {% thumbnail post.image "200x200" crop="center" as im %}
                    <img src="{{ im.url }}" class="card-img-top">
                    {% endthumbnail %}                    
                    <div class="card-body">
                        <h5 class="card-title">{{ post.text }}</h5>
                        <a href="{% url "feed:detail" post.id %}" class="btn btn-primary">View Full image</a>
                    </div>
                </div>

            </div> 

            {%empty%}
                
                <div class="col-sm-6 offset-3 text-center py-5 my-5">
                    <h3>Welcome</h3>
                    <p>Add your first image?</p>
                    <a href="{% url "feed:post" %}" class="btn btn-success">
                        Upload Image
                    </a>
                </div>

            {% endfor %}

        </div>
         


{% endblock body %}
    
